<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/demo.css">
</head>
<body class="about-body">
<div class="about-container">
    <div class="text-and-flag">
        <img src="css/images/flag.jpg" alt="Dominican Flag" class="flag">
        <div class="text-content">
            <h1 class="gradient-text">About Us</h1>
            <p>The Dominican Motorcycle Shop has been a family-owned business for over 30 years.
                We care about our community. Located in the heart of Spanish Bronx, DMS offers
                free motorcycle lessons and oil changes for our friends and family living in
                Aventura Rd.
            </p>
        </div>
    </div>
</div>

<div class="store-hours">
    <h3>Shop Hours</h3>
    <p>
        Monday-Friday
        </p>
    <p>
        7:00am-7:00pm
        </p>
    <p>
          Saturday
    </p>
    <p>
        8:00am-5:00pm
        </p>
    <p>
           Sunday
        </p>
           CLOSED
    </p>

</div>
<div class="second-para">
    <br>
    <p>
        We buy and sell motorcycle parts! Sell your old bike parts to us for a fair price.
        We also have a wide variety of third party parts from all over the world, delivered
        within one to two business days!
    </p>
    <a href="mainscreen" class="btns btns-primary">Go to Main Page</a>
</div>
</body>
</html>
</html>